<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin.header::header"></div>
<body>

<div class="wrapper">
    <div th:replace="admin.nav::nav"></div>

    <div class="container main">

        <div class="page-header">
            <h3><i class="glyphicon glyphicon-pencil"></i> [[${author.name + '作品列表'}]]</h3>
        </div>

        <table id="authorWorkTable"
               data-toggle="table"
               data-show-search-clear-button="true"
               data-search-align="left"
               data-classes="table table-hover table-borderless"
               data-click-to-select="true"
               data-sort-name="id"
               data-sort-order="desc"
               data-method="post"
               data-side-pagination='server'
               data-pagination=true
               data-page-size=30
               data-page-list=[15,30,50,All]>
            <thead>
            <tr>
                <th data-align="center" data-checkbox="true"></th>
                <th data-align="left" data-sortable="true" data-field="name">作品</th>
                <th data-align="left" data-sortable="false" data-field="cat">分类</th>
                <th data-align="center" data-sortable="false" data-formatter="operateFormatter">章节</th>
            </tr>
            </thead>
        </table>

    </div>

    <div th:replace="admin.footer::footer"></div>
</div>

<script>
    let $table = $('#authorWorkTable');

    $table.bootstrapTable({
        url: "/api/author/works/[[${author.id}]]"
    });

    // 删除按钮事件
    $("#btnDelete").on("click", function () {
        let rows = $table.bootstrapTable('getSelections');// 获得要删除的数据
        if (rows.length > 0) {// rows 主要是为了判断是否选中，下面的else内容才是主要
            let ids = [];// 声明一个数组
            $(rows).each(function () {// 通过获得别选中的来进行遍历
                ids.push(this.id);// cid为获得到的整条数据中的一列
            });

            if (ids.length > 0) {
                sendBootstrapTableRequest($table, 'post', '/api/work/delete', ids);
            }
        }
    });

    function operateFormatter(value, row, index) {
        return '<a href="/admin/chapter/all/' + row.id + '" target="_self">查看</a>';
    }
</script>

</body>


