<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin.header::header"></div>
<body>


<script charset="utf-8" th:src="@{/admin/static/ckeditor/ckeditor.js}"></script>

<div class="wrapper">
    <div th:replace="admin.nav::nav"></div>

    <div class="container main">
        <div class="page-header">
            <h3>
                <i class="glyphicon glyphicon-book"></i> [[${work.name}]]
                <span class="tag"><a th:href="|/admin/chapter/all/${work.id}|">返回列表</a></span>
            </h3>

            <div th:replace="admin.alert::alert"></div>

            <form method="post" action="/admin/chapter/edit" th:object="${chapter}">
                <input type="hidden" name="id" th:value="*{id}">
                <input type="hidden" name="workId" th:value="${work.id}">
                <div class="row">
                    <input type="text" class="form-control" placeholder="标题"
                           name="name" th:value="*{name}" required autofocus/>
                </div>

                <div class="row">
                    <div class="form-input col-md-12 col-xs-12">
                        <div class="input-group">
                            <input type="hidden" name="volumeId" id="volumeId" th:value="${volume.id}"/>
                            <input type="text" class="form-control" name="volume" th:value="${volume.name}"
                                   id="volumeSelector"/>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <input type="text" name="newVolume" class="form-control" placeholder="新建分卷，如无必要可留空"/>
                </div>
                <div class="row">
                    <textarea name="content" id="calf_chapter_editor" th:text="*{content}"></textarea>
                    <script> CKEDITOR.replace('calf_chapter_editor');</script>
                </div>


                <div class="row">
                    <div class="btn-left col-md-6 col-xs-12">
                        <a th:href="|/admin/chapter/all/${work.id}|" class="btn btn-info">返回章节列表</a>
                    </div>
                    <div class="btn-right col-md-6 col-xs-12">
                        <button type="submit" class="btn btn-success">保存章节信息</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div th:replace="admin.footer::footer"></div>
</div>

<script charset="utf-8" th:src="@{/admin/static/js/bootstrap-suggest.js}"></script>
<script>
    $("#volumeSelector").bsSuggest({
        clearable: true,
        url: "/api/volume/suggest/[[${work.id}]]?key=",
        showHeader: false,
        showBtn: true,     //不显示下拉按钮
        idField: "id",
        keyField: "name",
        effectiveFields: ["id", "name"]
    }).on('onSetSelectValue', function (e, keyword, data) {
        $("#volumeId").val(data.id)
    });
</script>
</body>
