<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin.header::header"></div>
<body>

<div class="wrapper">
    <div th:replace="admin.nav::nav"></div>

    <div class="container main">

        <div class="page-header">
            <h3><i class="glyphicon glyphicon-road"></i> 专题列表</h3>
        </div>

        <div id="featureTableToolbar">
            <div class="btn-group">
                <a class="btn btn-default" href="/admin/feature/settings">
                    <i class="glyphicon glyphicon-plus"></i>新增
                </a>
            </div>
        </div>
        <table id="featureTable"
               data-toggle="table"
               data-classes="table table-hover table-borderless"
               data-click-to-select="true"
               data-toolbar="#featureTableToolbar"
               data-url="/api/feature/data"
               data-single-select="true"
               data-id-field="id"
               data-sort-name="id"
               data-sort-order="asc">
            <thead>
            <tr>
                <th data-align="center" data-checkbox="true"></th>
                <th data-align="left" data-sortable="true" data-field="name" data-formatter="nameFormatter">专题名称</th>
                <th data-align="left" data-sortable="true" data-field="alias">别名</th>
                <th data-align="left" data-sortable="true" data-field="keywords">关键字</th>
                <th data-align="center" data-field="recordsCount" data-formatter="recordsFormatter">作品</th>
                <th data-align="center" data-formatter="operateFormatter">操作</th>
            </tr>
            </thead>
        </table>

    </div>

    <div th:replace="admin.footer::footer"></div>
</div>

<script>
    function nameFormatter(value, row, index) {
        return '<a href="/admin/feature/settings/' + row.id + '">' + value + '</a>';
    }

    function recordsFormatter(value, row, index) {
        return '<a href="/admin/feature/records/' + row.id + '"><span class="badge">' + value + '</span></a>';
    }

    function operateFormatter(value, row, index) {
        if (row.id * 1 > 1) {
            return '<a href="/admin/feature/delete/' + row.id + '">删除</a>';
        }
    }
</script>

</body>