<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin.header::header"></div>
<body>

<div class="wrapper">
    <div th:replace="admin.nav::nav"></div>

    <div class="container main">

        <div class="page-header">
            <h3><i class="glyphicon glyphicon-cloud"></i> 远程写</h3>
        </div>

        <p>交互码为：<strong>[[${code}]]</strong></p>
        <p>交互码过期时间为：<strong>[[${#dates.format(time,'yyyy-MM-dd HH:mm:ss')}]]</strong></p>
    </div>

    <div th:replace="admin.footer::footer"></div>
</div>

</body>