<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<head th:fragment="header">

	<title th:text="${title}">A Calf Site!</title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>


	<link rel="icon" th:href="@{/static/imgs/favicon.ico}" >

	<link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}"/>


	<script th:src="@{/admin/static/js/jquery.min.js}"></script>
	<script th:src="@{/admin/static/js/custom-script.js}"></script>

	<style>
		body {}
	</style>
</head>
</body>
</html>