<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="recommend" th:fragment="recommend">
    <div class="page-header">
        <h3><i class="glyphicon glyphicon-book"></i> 推荐内容</h3>
    </div>
    <div class="row recommend">
        <div class="item col-md-2 col-xs-2" th:each="r: ${recommend}" th:object="${r}">
            <div class="cover">
                <a th:href="|/work/*{id}.html|">
                    <img th:src="*{cover}" width="120px" height="172px"/>
                </a>
                <div class="remark"><a th:href="|/work/*{id}.html|" th:text="*{name}"></a></div>
                <div class="shade"><a th:href="|/work/*{id}.html|" th:text="*{name}"></a></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
