<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:remove="tag" th:fragment="work">

    <div class="row work-show">
        <div class="col-md-6 col-xs-12 work" th:each="w : ${works}" th:object="${w}">
            <div class="cover">
                <a th:href="|/work/*{id}.html|"><img th:src="*{cover}" width="118px" height="172px"/></a>
            </div>
            <div class="brief">
                <div>
                    <span class="title"><a th:href="|/work/*{id}.html|" th:text="*{name}"></a></span>
                    <span class="author">
                        <a th:href="|/author/*{authorId}.html|" th:text="*{author}"></a>
                    </span>
                </div>
                <div class="intro"
                     th:text="|${#strings.substring(w.brief, 0, #strings.length(w.brief) > 120 ? 120 : #strings.length(w.brief))} ...|"></div>
            </div>
        </div>
    </div>
    
</div>
</body>
</html>
