#
spring:
  application:
    name: calf
  profiles:
    active: dev
  cache:
    type: CAFFEINE
    caffeine:
      spec: initialCapacity=10240,maximumSize=102400,expireAfterAccess=10m
  servlet:
    multipart:
      max-file-size: 10MB

mybatis:
  configuration:
    mapUnderscoreToCamelCase: true
    #log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

calf:
  passoword-salt: hehehe
  path-upload: /zhy
  theme:
    name: pure
    fragments:
      recommend: common/recommend
      work: common/work-show

