<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="footer">
    <div class="container footer">
        <div class="col-md-12 col-xs-12 logo">
            <a href="http://calf.chobit.org">
                <img alt="Calf" th:src="@{/admin/static/img/logo.png}" height="100%">
            </a>
        </div>
        <div class="col-md-12 col-xs-12 copyright">
            2019 © <a href="http://calf.chobit.org">Calf</a>
        </div>
    </div>

    <script th:src="@{/admin/static/js/bootstrap.min.js}"></script>

    <script th:src="@{/admin/static/js/bootstrap-table.min.js}"></script>
    <script th:src="@{/admin/static/js/bootstrap-table-zh-CN.min.js}"></script>
</div>
</body>
</html>



