<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<head th:fragment="header">

	<title th:text="${title}">Calf</title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<link rel="stylesheet" type="text/css" th:href="@{/admin/static/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/admin/static/css/font-awesome.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/admin/static/css/bootstrap-table.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/admin/static/css/style.css}"/>

</head>
</body>
</html>