/* CSS Document */

/* -------------------------------------- */
h2, h3, h4, h5, h6 {
    font-size: 15px;
}

body {
    background: #A8ABA8;
    font-size: 13px;
}

* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.wrapper {
    max-width: 870px;
    width: 100%;
    height: 100%;
    position: relative;
    background: #FFF;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0 0 6px 6px rgba(200, 200, 200, .36);
}

.header, .navigator, .notice, .main, .footer {
    width: 100%;
}

.clear {
    clear: both;
}

/* -------------- head -------------- */
.header {
    min-height: 120px;
}

/* -------------- navigator -------------- */


.navigator {
    padding: 0;
}

.navbar-brand {
    font-size: 15px;
}

.navbar {
    margin: 0;
}

.navbar-nav li:hover {
    background-color: #2b542c;
    color: #FFF;
}

.navbar-nav li a:hover {
    background-color: #2b542c !important;
    color: #FFF !important;
}

.notice {
    height: 42px;
    padding: 2px 0 0 16px;
    line-height: 42px;
    border-bottom: 1px solid #ddd;
}

.notice .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin: 0;
}


/* -------------- index -------------- */


.recommend {
    padding: 0;
    border-bottom: 1px solid #ddd;
}

.recommend .item {
    padding: 12px 0;
    text-align: center;
    vertical-align: middle;
}

.recommend .item:hover {
    background: #5FB878;
}

.recommend .item .cover,
.recommend .item .remark,
.recommend .item .shade {
    margin: 0 auto;
    width: 120px;
}

.recommend .item .shade,
.recommend .item .remark {
    position: absolute;
    bottom: 12px;
    z-index: 900;
    height: 27px;
    overflow: hidden;
    line-height: 2.5em;
    font-size: 13px;
    background-color: #255625;
    opacity: 0.5;
    color: #000;
    font-weight: normal;
}

.recommend .item .remark {
    background: none;
    z-index: 999;
    opacity: 1;
}

.recommend .item .remark:hover {
    background-color: #d9edf7;
}

.recommend .item .remark a {
    color: #000 !important;
}

.popular {
    padding: 12px 0;
}

.popular .item {
    white-space: nowrap;
    overflow: hidden;
    padding-right: 16px;
    color: #333;
    line-height: 240%;
}

.popular .item a {
    color: #000;
}

.popular .item:hover {
    color: #255625;
    background-color: #eee;
}

.popular .item .author {
    position: absolute;
    z-index: 999;
    right: 0;
    padding-left: 6px;
    background-color: #FFF;
    float: right;
    color: #129151;
    font-size: 12px;
    width: 96px;
    overflow: hidden;
}

.popular .item .author a {
    display: block;
    color: #129151;
}


.popular .item .author:hover {
    color: #223333;
    background-color: #deeeee;
}

/* ------------------------------------ cat ------------------------------------ */

.work-show {
    padding: 0;
    vertical-align: baseline;
}

.work-show .work {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.work-show .cover {
    float: left;
    width: 118px;
    height: 156px;
    overflow: hidden;
}

.work-show .brief {
    padding: 0 0 0 8px;
    margin-left: 110px;
    height: 156px;
    overflow: hidden;
}

.work-show .brief .title {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #1d6300;
    font-size: 17px;
    white-space: nowrap;
}

.work-show .brief .title a {
    color: #129151;
}

.work-show .brief .title a:hover {
    color: #e8434c;
}

.work-show .brief .author {
    font-size: 12px;
    line-height: 32px;
}

.work-show .brief .author a {
    color: #5e5e5e;
}

.work-show .brief .author a:hover {
    color: #129151;
}

.work-show .brief .intro {
    line-height: 160%;
    overflow: hidden;
    letter-spacing: 1px;
}

.pagination {
    padding: 12px 0;
}

.pagination a {
    padding: 6px 8px;
    margin: 2px;
    line-height: 100%;
    border: 1px solid #1d6300;
    color: #1d6300;
}

.pagination a:hover {
    text-decoration: none;
    background-color: #a5cadc;
}

.pagination .active {
    text-decoration: none;
    background-color: #63a563;
}


/* ------------------------------------ work ------------------------------------ */
.work-block {
    margin: 0 -15px;
}


.work-header {
    padding: 12px 15px 3px;
    border-bottom: 1px solid #e2e2e2;
}

.work-header .title {
    font-weight: bolder;
    font-size: 18px;
    color: #1d6300;
}

.work-header .author {
    padding-left: 12px;
}

.work-neck {
    margin: 0;
    padding: 12px 9px;
    border-bottom: 1px solid #e2e2e2;
    vertical-align: baseline;
    height: auto;
}

.work-neck .cover {
    float: left;
    width: 82px;
    height: 108px;
    overflow: hidden;
}

.work-neck .brief {
    padding: 0;
}

.work-neck .brief .intro {
    padding: 6px 0;
    overflow: hidden;
    height: 75px;
    color: #737383;
    line-height: 180%;
    text-indent: 2em;
}

.work-neck .brief .relate {
    height: 24px;
    padding: 8px 16px 0 6px;
    overflow: hidden;
    font-size: 12px;
}

.work-neck .brief .relate a {
    margin-right: 12px;
    color: #7d7d7d;
}

.work-body {
    margin-top: 6px;
    padding: 0 15px;
}


.work-body .volume {
    margin-top: 9px;
    padding: 9px 12px 8px;
    background-color: #f1fee8;
    text-align: left;
    font: 16px Arial;
    color: #1d6300;
    border-bottom: 1px solid #e2e2e2;
    border-top: 2px solid #129151;
}

.work-body .chapter {
    padding: 6px 12px;
    overflow: hidden;
    white-space: nowrap;
    line-height: 189%;
    border-bottom: 1px dashed #e2e2e2;
}

.work-body .chapter:hover {
    background-color: #c9e2b3;
}

.work-body .chapter a {
    display: block;
    color: #333;
}

.work-body .chapter a:hover {
    color: #1d6300;
}

/* ------------------------------------ chapter ------------------------------------ */
.readerTools {
    margin: 0;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
}

#contentContainer {
    margin: 0;
}

.chapter-name {
    margin: 0;
    padding: 9px 0 6px;
    font-size: 20px;
    font-weight: bold;
    line-height: 240%;
    color: #129151;
    text-align: center;
    border-bottom: 1px dotted #ddd;
}

.chapter-nav {
    position: relative;
    margin: 0;
    font-size: 12px;
    line-height: 32px;
    text-align: center;
    border-bottom: 1px dotted #ddd;
}

.chapter-nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #129151;
}

.chapter-author {
    display: none;
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
}

.chapter-content {
    margin: 0;
    padding: 24px 11px;
    min-height: 90px;
    line-height: 180%;
    border-bottom: 1px dotted #ddd;
}

.chapter-content p {
    text-indent: 2em;
}

/* -------------- foot -------------- */

.footer {
    margin: 0 0 12px 0;
    border-top: 1px solid #ddd;
    padding: 21px 24px 0;
    height: 81px;
    text-align: center;
    vertical-align: bottom;
}

.footer .copyright {
    width: 100%;
    line-height: 180%;
    color: #8F989C;
    font-size: 15px;
}


.footer .copyright a, a:hover {
    color: #8F989C;
    text-decoration: none;
}


/* ------------------------------------  bootstrap  ------------------------------------ */

.page-header {
    margin: 0 -15px;
    padding: 0 0 0 12px;
    color: #129151;
}

.page-header a {
    color: #129151;
    text-decoration: none;
}


/* ------------------------------------ multi device ------------------------------------ */
@media screen and (min-width: 870px) {
    .content {
        border-right: 1px solid #CCC;
        padding-right: 6px;
    }

    .chapter-author {
        display: block;
    }
}

@media screen and (max-width: 870px) {
    .wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 560px) {
    .header {
        display: none;
    }

    #recommend {
        display: none;
    }

    #floatPanel {
        display: none;
    }

    .chapter-author {
        display: none;
    }
}


@media (min-width: 600px) {

    /* ------------------------------ 上下移动按钮 ------------------------------ */
    #floatPanel .ctrlPanel {
        width: 36px;
        height: 62px;
        background: #fff url(/static/imgs/float-panel-bg.png) no-repeat left top;
        border: solid 1px #ddd;
        margin-left: 435px;
        position: fixed;
        _position: absolute;
        bottom: 76px;
        left: 50%;
        overflow: hidden;
        z-index: 10000;
    }

    #floatPanel .ctrlPanel .arrow {
        height: 29px;
        line-height: 28px;
        display: block;
        margin: 1px auto;
    }

    #floatPanel .ctrlPanel .arrow span {
        display: none;
    }

    #floatPanel .ctrlPanel .arrow:hover {
        background: #f4f4f4
    }

    #floatPanel .ctrlPanel .arrow:hover span {
        display: block
    }

    #floatPanel .ctrlPanel a {
        text-decoration: none;
        width: 34px;
        font-size: 12px;
        color: #f60;
        letter-spacing: 1px;
        text-align: center;
        overflow: hidden;
    }
}