<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="header::header"></div>
<body>

<div class="wrapper">

    <div th:replace="nav::nav"></div>

    <div class="container notice">
        <ol class="breadcrumb">
            <li><a href="/"><i class="glyphicon glyphicon-folder-open">&nbsp;首页</i></a></li>
            <li th:text="${cat.name}"></li>
        </ol>
    </div>

    <div class="container main">

        <div th:replace="recommend::recommend"></div>

        <div class="page-header">
            <h3><a th:href="|/c/${cat.slug}.html|"><i class="glyphicon glyphicon-book"></i> [[${cat.name}]]</a></h3>
        </div>

        <div th:remove="tag" th:replace="work::work"></div>

        <div class="pagination">
            <a th:text="|共 ${total} 部|"></a>
            <a th:each="i:${#numbers.sequence(0, totalPage)}"
               th:href="|/c/${cat.slug}/${i}.html|"
               th:class="${i==page? 'active' : ''}"
               th:text="${i+1}"></a>
        </div>

    </div>
    <div th:replace="footer::footer"></div>
</div>
</body>