<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="header::header"></div>
<body>
<div class="wrapper">

    <div th:replace="nav::nav"></div>

    <div class="container notice">
        <ol class="breadcrumb">
            <li><a href="/"><i class="glyphicon glyphicon-folder-open">&nbsp;首页</i></a></li>
            <li>专题</li>
            <li class="active">[[${feature.name}]]</li>
        </ol>
    </div>

    <div class="container main">
        <div class="work-block">
            <div class="work-header">
                <span class="title">[[${feature.name}]]</span>
            </div>
            <div class="row work-neck">
                [[${#strings.isEmpty(feature.brief) ? '无专题信息，待完善' : feature.brief}]]
            </div>
        </div>

        <div class="page-header">
            <h3><i class="glyphicon glyphicon-book"></i>&nbsp;作品列表</h3>
        </div>

        <div th:remove="tag" th:replace="work::work"></div>

        <div class="pagination">
            <a th:text="|共 ${total} 部|"></a>
            <a th:each="i:${#numbers.sequence(0, totalPage)}"
               th:href="|/f/${feature.alias}/${i}.html|"
               th:class="${i==page? 'active' : ''}"
               th:text="${i+1}"></a>
        </div>
    </div>
    <div th:replace="footer::footer"></div>
</div>
</body>
