<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="header::header"></div>
<body>

<div class="wrapper">

    <div th:replace="nav::nav"></div>

    <div class="container notice">
        <i class="glyphicon glyphicon-volume-up" aria-hidden="true"></i> [[${notice}]]
    </div>

    <div class="container main">

        <div th:replace="recommend::recommend"></div>

        <div th:remove="tag" th:each="cat: ${all}" th:object="${cat}">
            <div class="page-header">
                <h3><a th:href="|/c/*{slug}.html|"><i class="glyphicon glyphicon-book"></i> [[*{name}]]</a></h3>
            </div>
            <div class="row popular">
                <div class="item col-md-4 col-xs-12" th:each="w:${cat.works}" th:object="${w}">
                    ■ <a th:href="|/work/*{id}.html|" th:text="*{name}" th:title="*{name}"></a>
                    <span class="author">
                        <a th:href="|/author/*{authorId}.html|" th:text="*{author}" th:title="*{author}"></a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="footer::footer"></div>
</div>
</body>