<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="header::header"></div>
<body>

<div class="wrapper">

    <div th:replace="nav::nav"></div>

    <div class="container notice">
        <ol class="breadcrumb">
            <li><a href="/"><i class="glyphicon glyphicon-folder-open">&nbsp;首页</i></a></li>
            <li><a th:href="|/c/${w.catSlug}.html|">[[${w.cat}]]</a></li>
            <li class="active">[[${w.name}]]</li>
        </ol>
    </div>

    <div class="main">
        <div class="work-header">
            <span class="title">[[${w.name}]]</span>
            <span class="author">作者：<a th:href="|/author/${w.authorId}.html|">[[${w.author}]]</a></span>
        </div>

        <div class="work-neck row">
            <div class="cover">
                <img th:src="${w.cover}" width="80px" height="100px"/>
            </div>

            <div class="brief">
                <div class="intro">[[${w.brief}]]</div>
                <div class="relate">
                    <i class="glyphicon glyphicon-tags"></i> [[${w.author}]]作品：
                    <a th:each="r : ${relate}" th:href="|/work/${r.id}.html|" th:text="${r.name}"></a>
                </div>
            </div>
        </div>

        <div class="work-body">
            <div class="row" th:each="vol : ${vols}">
                <div class="col-md-12 col-xs-12 volume" th:id="|vol_${vol.id}|">
                    <i class="glyphicon glyphicon-bookmark"></i> [[${vol.name}]]
                </div>
                <div class="col-md-4 col-xs-12 chapter" th:each="chp:${vol.chapters}">
                    <a th:href="|/chapter/${chp.id}.html|">[[${chp.name}]]</a>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="footer::footer"></div>
</div>


<script type="text/javascript">
    backToTop();
</script>
</body>